<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <!-- NLog 설정 관련들-->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false">
    <targets async="true">
      <target name="logtoRTB" xsi:type="RichTextBox" layout="${date:format=yyyy-MM-dd HH\:mm\:ss} ${message}" height="300" width="500" autoScroll="true" toolWindow="true" controlName="rtb_Log" formName="FormMain" useDefaultRowColoringRules="false" />
      <target name="logfile" xsi:type="File" fileName="Log\${date:format=yyyy-MM-dd}_ListChatClient.log" />
    </targets>
    <!-- 로그 레벨은 Fatal -> Error -> Warn -> Info -> Debug -> Trace 순이다 -->
    <rules>
      <logger name="ChatLog" minlevel="Trace" writeTo="logtoRTB" />
      <logger name="ChatLog" minlevel="Trace" writeTo="logfile" />
    </rules>
  </nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
